---
title: Não encontrado! 
permalink: /404.html
---

{% include head.html %}

<body>
	<div class="container">

		{% include sidebar.html %}

		<!-- PORTFOLIO -->
		<div class="main">
			<h1>Erro 404</h1>
			<h3>A página que você procura não existe. Talvez você tenha escrito algo errado? Caso seja um bug, me avise!</h3>
		</div>

		<footer class="footer">
		<ul>
			<li><a href="https://behance.net/laracarvalho" target="_blank">Behance</a></li>
			<li><a href="https://github.com/laracarvalho" target="_blank">Github</a></li>
			<li><a href="https://linkedin.com/in/laracarvalho" target="_blank">LinkedIn</a></li>
		</ul>
	</footer>
	
</div>
</body>