/* ---------------------------------------------------
                     COLOR GUIDE

GOLD: rgb(172, 140, 71)
WHITE: rgb(226, 226, 226)
GREY: rgb(128,128,128)
BLACK: rgb(15,15,15)
      rgba(15,15,15, 0.74)

----------------------------------------------------*/

/* ---------------------------------------------------
                      GLOBAL STYLES
----------------------------------------------------*/
body {
  font-size: 19px;
  font-family: "cronos-pro", calibri, candara, "segoe UI", Optima, Arial, sans-serif;
  color: rgb(15,15,15);
  background: #0f0f0f;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 6% 6% 6%;
}

h1, h2, h3 {
  font-family: Garamond, serif;
  font-weight: normal;
}

h1 {
  font-size: 3.3684em;
  line-height: 1.2656em;
  margin-top: 0.4219em;
  margin-bottom: 0;
  color: rgb(226, 226, 226);
  text-align: center;
}

h2 {
  font-size: 1.5em;
  line-height: 1.2558em;
  margin: 0.4219em auto 0.4219em auto;
  color: rgb(15,15,15);
}

h3 {
  font-size: 1.5263em;
  font-weight: normal;
  line-height: 1.8621em;
  margin-top: 0.9310em;
  margin-bottom: 0;
  color: rgb(15,15,15);
}

p {
  font-size: 1em;
  line-height: 1.4211em;
  margin-top: 1.4211em;
  margin-bottom: 0;
  font-weight: 100;
  max-width: 700px;
  color: rgb(15,15,15);
}

li {
  font-weight: 100;
}

img {
  width: 100%;
}

a:link {
  color: rgb(172, 140, 71);
}

  a:visited {
    color: rgb(172, 140, 71);
  }

  a:hover {
    color: rgb(226, 226, 226);
  }

  a:active {
    color: rgb(172, 140, 71);
  }

button {
  background-color: rgb(172, 140, 71);
  border-radius: 8px;
  max-width: 100px;
}


/* ---------------------------------------------------
                GLOBAL FOOTER STYLES
----------------------------------------------------*/

footer {
  padding: 10px 0;
  clear: both;
}

  footer p {
    margin: 0;
  }