/*
* VARIABLES
*/
/* COLORS */
/* BREAKPOINTS */
/* GUTTER */
/* SPACING */
/* Z-INDEXES */
/* X00 for top-level components */
/* Navigation */
/* Alerts, badges, notifications, etc */
/* Overlays, modals, input prompts, etc */
/* X0 for middle level components */
/*
* Helper classes
 */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* TYPOGRAPHY */
.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

/* CODE */
code {
  margin: 20px auto;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

/*
* RESET
*/
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  word-wrap: break-word;
  line-height: 1.5;
}

main {
  width: 100vw;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font-weight: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Removing animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
* TYPOGRAPHY
*/
body {
  font-family: "Playfair Display", serif;
  color: #f3f3f3;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

p:not(:last-child) {
  margin-bottom: 16px;
}

.subtitle {
  font-size: 12px;
}

a {
  color: #f3f3f3;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.highlight-text {
  color: #7C51B1;
}

blockquote {
  padding: 14px;
  background: rgba(51, 51, 51, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-style: italic;
}

@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
}
/*
* LAYOUT
*/
.container {
  max-width: 1224px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.row .row {
  flex: 1 1 auto;
}

.col {
  flex-shrink: 0;
  margin: 0 0 8px 0;
  padding: 8px 16px;
  box-sizing: border-box;
}

.col-1 {
  flex-basis: 8.3333%;
}

.col-2 {
  flex-basis: 16.6666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333%;
}

.col-5 {
  flex-basis: 41.6666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333%;
}

.col-8 {
  flex-basis: 66.6666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.3333%;
}

.col-11 {
  flex-basis: 91.6666%;
}

.col-12 {
  flex-basis: 100%;
}

.gutter {
  width: 24px;
}

.spacing-2 {
  display: block;
  height: 8px;
}

.spacing-4 {
  display: block;
  height: 24px;
}

.spacing-6 {
  display: block;
  height: 72px;
}

/* MEDIA QUERY: SMALL SCREENS */
@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
}
.nav {
  margin: 36px auto;
}

.nav-list {
  list-style-type: none;
}

.nav-list__item:not(:first-child) {
  margin-left: 16px;
}

.nav-list__item:hover {
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .nav {
    text-align: center;
  }

  .main-header {
    margin: 0 72px;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 20px;
  }
}
.footer {
  width: 100%;
  background-color: #272b37;
  margin-top: 72px;
  margin-bottom: 24px;
  padding: 12px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
}

.cta-container {
  margin: 24px 0;
}

.cta-button {
  border: none;
  color: #f3f3f3;
  background: #7C51B1;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 24px;
}

.cta-button:hover {
  background: transparent;
  border: 1px solid #7C51B1;
  color: #7C51B1;
  cursor: pointer;
}

.cta-button:hover a {
  opacity: initial;
}

.work-items {
  display: flex;
  flex-direction: column;
  padding: 64px auto;
  min-width: 0;
}

.work-items__item {
  max-width: 1224px;
  margin: 64px auto;
}

.item-info_tagline {
  text-transform: uppercase;
  color: #e0e0e0;
  text-align: center;
}

.item-info_separator {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 12px auto;
}

.item-info_img {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .work-items__item {
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
    justify-content: center;
  }

  .work__item-img {
    display: flex;
    justify-content: center;
  }

  .work__item-img img {
    width: 267.5px;
    height: 359px;
  }

  .work-items__item .work__item-info {
    margin-top: 32px;
  }
}
.project-items {
  display: flex;
  flex-direction: column;
  padding: 64px;
  min-width: 0;
}

.project-items__item {
  max-width: 1224px;
  margin: 64px auto;
}

.project-item-info_tagline {
  text-transform: uppercase;
  color: #e0e0e0;
}

@media (max-width: 992px) {
  .project-items__item {
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
    justify-content: center;
  }

  .project__item-img {
    display: flex;
    justify-content: center;
  }

  .project__item-img img {
    width: 267.5px;
    height: 359px;
  }

  .project-items__item .project__item-info {
    margin-top: 32px;
  }
}
body {
  background-color: #1E1E24;
}

.main-header {
  margin: 36px 24px;
}

.work {
  margin: 72px auto;
}

.section-title {
  font-size: 144px;
  color: #e0e0e0;
  line-height: 0.8;
  margin: 72px auto;
}

.h2-smaller-text {
  font-size: 36px;
  color: #ADADAD;
  line-height: 0.4;
  padding: 0;
  margin: 0;
}

.contact {
  margin: 72px;
}

.contact-about {
  padding-right: 72px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 64px;
    margin: 10px;
  }

  .contact-about {
    padding-left: 0;
    margin-bottom: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
