---
title: Blog
---

{% include head.html %}

<body>
	<div class="container">

		{% include sidebar.html %}

		<div class="blog">
			<h1>Blog</h1>
			<div class="tags">
				<ul>
					<li><a href="/blog/">Todos</a></li>
					<li><a href="/categories/Tutoriais">Tutoriais</a></li>
					<li><a href="/categories/Artigos">Artigos</a></li>
					<li><a href="/categories/Material">Material</a></li>
				</ul>

				{% if page.categories %}
				  <span class="categories">
				    {% for category in page.categories %}<a href="/categories/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
				  </span>
				{% endif %}
			</div>

			{% for post in paginator.posts %}

		    <article class="blog-posts">
		    	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		    	<h4>Publicado em: {{ post.date | date: "%d/%m/%Y" }}</h4>
		      {{ post.excerpt }}
		      <a href="{{ post.url }}">Ler o resto.</a>
			</article>

		  {% endfor %}

		  {% include paginator.html %}
		</div>
	</div>
</body>
</html>