---
layout: layouts/home.njk
eleventyExcludeFromCollections: true
---

<h1>Bem-vindo! Me chamo Lara :)</h1>

<p>Sou uma dev experimentando com vários assuntos de tecnologia, escrita criativa e técnica, design e qualquer coisa que me interesse no momento.</p>

<p>Este website serve como um blog, um showcase das minhas habilidades e um diretório de tudo que eu gostaria de documentar. Para conteúdos estruturados e em vídeo, dê uma olhada no meu <a href="https://www.youtube.com/c/LaraCarvalhoNet">canal no Youtube</a>.</p>

<p>Cheque o <a href="{{ '/posts' | url }}">Arquivo de Posts</a> para ler artigos, minha página <a href="/now">Agora</a> para ver meus projetos atuais, e converse comigo por <a href="mailto:laraftoller@gmail.com">email</a>!</p>
