//// VARIABLES ///

$primary: #334859
$secondary: #b2c7c8
$style: #CF4A36
$grey: #ccc

////////////////

body
  font-family: sans-serif
  background-color: $style

header
  height: 300px
  background-color: $primary

nav
  display: flex
  justify-content: center
  flex-direction: row
  flex-wrap: wrap
  padding: 30px 10px

  a
	text-decoration: none
	display: inline-block
	margin: 0 0 10px 20px
	color: white
	font:
	  size: 14px
	  weight: 700
	text-transform: uppercase
	border: 2px white solid
	border-radius: 3px
	padding: 5px 10px
	clear: both

h1
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  text-shadow: 3px 1px #cccfff
  font-family: 'Open Sans Condensed', sans-serif
  color: white
  font:
	size: 74px
	weight: 700
  padding: 60px 0 25px 0
  margin: 0
  text-transform: uppercase
  clear: both

.title
  @extend h1
  font:
	size: 24px
	weight: 700
  padding: 0
  text-shadow: none

footer
  background-color: $secondary
  height: 70px
  padding: 20px


.copyright, .top-link
  text-transform: uppercase
  text-align: center
  margin: 0
  color: black
  font-family: 'Open Sans Condensed', sans-serif

.top-link
  text-decoration: none
  margin-bottom: -10px
  text-align: center
  display: block
  margin: 0 auto

h3, .alt-h3
  display: block
  margin: 0
  padding: 20px
  text-align: center
  font-family: 'Open Sans Condensed', sans-serif
  font-weight: 700
  font-size: 24px
  letter-spacing: 0.1em
  text-transform: uppercase
  color: white

strong
  font-style: bold

p
  text-align: justify
  font-family: sans-serif
  margin-left: auto
  margin-right: auto
  margin: 30px
  font-weight: 500
  color: white

.skill-list
  text-align: center


#about-section
  background-color: $primary

#aboutme
  max-width: 860px
  margin-left: auto
  margin-right: auto
  height: auto
  padding-top: 5px

  .face-img
	display: block
	margin: 50px auto
	padding: auto

ul
  list-style: none

  li
	padding: 5px

//////////////////////////////
//////// WORK SECTION ///////
////////////////////////////

#work-section
  background-color: $secondary
  height: auto

  .tiles
	display: -moz-flex
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-wrap: wrap
	margin: 0 30px
	flex-direction: row-resize
	text-align: center
	justify-content: center


  .style
	width: 300px 
	margin: 0.7rem

.style h2
  font-family: 'Open Sans Condensed', sans-serif
  font-size: 20px
  font-weight: 700
  text-decoration: none
  text-transform: uppercase
  color: white
  margin: 5px

.style a
  @extend h2

  img
	image-size: 300px
	-webkit-transition: all 200ms ease-in
	-webkit-transform: scale(1) 
	-ms-transition: all 200ms ease-in
	-ms-transform: scale(1)
	-moz-transition: all 200ms ease-in
	-moz-transform: scale(1)
	transition: all 200ms ease-in
	transform: scale(1)

  img:hover
	-webkit-transition: all 200ms ease-in
	-webkit-transform: scale(1.1)
	-ms-transition: all 200ms ease-in
	-ms-transform: scale(1.1) 
	-moz-transition: all 200ms ease-in
	-moz-transform: scale(1.1)
	transition: all 200ms ease-in
	transform: scale(1.1)

	
/////////////////////////////////
//////// CONTACT SECTION ///////
///////////////////////////////


#contact-section
  background-color: $primary
  height: auto
  display: block
  overflow-y: auto
  overflow-x: auto

.social-links
  text-align: center
  padding-bottom: 20px

.icon-img
  display: inline-block
  padding: 40px 30px 0px 30px

.icon-img:hover
  -webkit-transition: all 200ms ease-in
  -webkit-transform: scale(1.2)
  -ms-transition: all 200ms ease-in
  -ms-transform: scale(1.2) 
  -moz-transition: all 200ms ease-in
  -moz-transform: scale(1.2)
   transition: all 200ms ease-in
   transform: scale(1.2)

.email
  display: block
  padding: 60px 0px
  text-decoration: none
  text-align: center
  font-size: 40px
  color: white
  font-weight: 300

form
  max-width: 700px
  margin: 10px auto 50px
  color: white
  text-align: center

  input, textarea
	display: inline-block
	border: 3px solid #292929
	width: 80%
	padding: 10px 5px
	margin: 10px 0

.submit-wrap
  text-align: right
  padding: 5px 40px 5px 0

  [type="submit"]
	background: #292929
	color: white
	font-size: 20px
	text-transform: uppercase
	width: 33%

/// MEDIA QUERIES ///

@media screen and (max-width: 360px)
  .email
	font-size: 30px

  p, li, .skill
	font-size: 95%

  h1
	padding: 5px
	font-size: 50px

  .title
	font-size: 20px

  header
	height: 240px

@media screen and (max-width: 480px)
  .email
	font-size: 30px

  p, li, .skill
	font-size: 95%

  h1
	font-size: 60px
	padding: 5px

  .title
	font-size: 20px
